Source: python-scikit-build-core
Section: python
Priority: optional
Standards-Version: 4.5.0
Maintainer: Wong Hoi Sing Edison <hswong3i@pantarei-design.com>
Homepage: https://github.com/scikit-build/scikit-build-core/tags
Vcs-Browser: https://github.com/alvistack/scikit-build-scikit-build-core
Vcs-Git: https://github.com/alvistack/scikit-build-scikit-build-core.git
Build-Depends:
 debhelper,
 debhelper-compat (= 10),
 dh-python,
 fdupes,
 python3-dev,
 python3-pip,
 python3-setuptools (>= 42.0.0),

Package: python3-scikit-build-core
Architecture: all
Description: Build backend for CMake based projects
 Scikit-build-core is a build backend for Python that uses CMake to build
 extension modules. It has a simple yet powerful static configuration
 system in pyproject.toml, and supports almost unlimited flexibility via
 CMake. It was initially developed to support the demanding needs of
 scientific users, but can build any sort of package that uses CMake.
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ${python3:Depends},
 python3,
 python3-exceptiongroup (>= 1.0),
 python3-importlib-metadata (>= 4.13),
 python3-importlib-resources (>= 1.3),
 python3-packaging (>= 21.3),
 python3-pathspec (>= 0.10.1),
 python3-tomli (>= 1.2.2),
 python3-typing-extensions (>= 3.10.0),
